solvespace/solvespace.tgz
solvespace/solvespace_version.env
solvespace/solvespace-dev.deb
**/.build*
*.build*.log
build.log
*.AppImage
build*.log
kasm-workspaces/BUILDING.md
kasm-workspaces/.env
kasm-workspaces/logs/
kasm-workspaces/src/kasm/ubuntu/install/phantom_swamp_skunk/pss-build.tgz
